<div class="card container">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">{{event?.name ?? "No Name"}}</h3>
            <button *ngIf="created" class="btn" routerLink="/form" [queryParams]="{mode:'edit','eventId':event?.id}">Edit</button>
        </div>
        <p class="card-text">{{event?.description ?? "No Description"}}</p>
        <p class="">{{event?.date?.toISOString() ?? "No Date"}}</p>
        <button *ngIf="!subscribed" class="btn btn-primary container" (click)="subscribe()">Subscribe</button>
        <button *ngIf="subscribed" class="btn container" (click)="editSubscription()">Edit subscribtions</button>
    </div>
</div>