<div class="modal fade" id="edit-event-modal" tabindex="-1" aria-labelledby="edit-event-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="this.editedEvent.id !== 0" class="modal-title" id="edit-event-modal-label">Edit event</h5>
                <h5 *ngIf="this.editedEvent.id === 0" class="modal-title" id="edit-event-modal-label">Edit event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- add notifiy on event if first subscription-->
                <app-event-form [event]="editedEvent" [groups]="groups" [onEventDelete]="deleteFn()"></app-event-form> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="save()">{{(originalEvent?"Update":"Add")}}</button>
            </div>
        </div>
    </div>
</div>