<div class="modal fade" id="edit-group-modal" tabindex="-1" aria-labelledby="edit-group-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-event-modal-label">Edit group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-12">
                        <label for="editingGroupName">Group name</label>
                        <input type="text" id="editingGroupName" class="form-control" value="{{editingGroup.name}}"
                            (change)="onGroupNameChange($event)" />
                    </div>

                    <div class="col-12">Group id: {{editingGroup.id}}</div>

                    <div class="col-12 d-grid">
                        <a class="btn btn-secondary" href="https://discord.com/api/oauth2/authorize?client_id=1110085021454311554&permissions=18015240800320&scope=bot" target="_blank">Add bot to Discord</a>
                    </div>

                    <div class="col-12">
                        <label for="editingGroupDGID">Discord server ID <small class="text-secondary">(usually has 18-19
                                digits)</small></label>
                        <!-- Backlog ToDo: retrieve Guild via JDA and add Bot at the same time -->
                        <input type="text" id="editingGroupDGID" class="form-control"
                            value="{{editingGroup.discordGuildId}}" (change)="onGuildIdChange($event)" />
                    </div>

                    <div class="col-12">
                        <label for="editingGroupDNID">Discord channel ID for Notifications <small
                                class="text-secondary">(leave blank for no
                                notifications)</small></label>
                        <input type="text" id="editingGroupDNID" class="form-control"
                            value="{{editingGroup.discordNotifyChannelId}}" (change)="onNotifyChannelChange($event)" />
                    </div>

                    <div class="col-12">
                        <label for="editingGroupUsers">Group users</label>
                        <div id="editingGroupUsers" class="row g-2">
                            <div *ngFor="let user of finalUserList()" class=" input-group">
                                <span class="input-group-text bg-secondary">{{user}}</span>
                                <button class="btn btn-outline-primary" (click)="onRemoveUser(user)"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 input-group">
                        <span class="input-group-text bg-secondary">User to add</span>
                        <input type="text" class="form-control" value="" placeholder="Username"
                            (change)="onUserNameChange($event)">
                        <button class="btn btn-outline-primary" (click)="onAddUser($event)">Add User</button>
                    </div>

                    <div class="col-12">
                        <button *ngIf="originalGroup" class="btn btn-danger" (click)="onDelete(editingGroup)">Delete
                            Group</button>
                    </div>
                    
                    <div class="row mt-3 g-2">
                        <div class="col-6 d-grid">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                (click)="onCancel(editingGroup)">Cancel</button>
                        </div>
                        <div class="col-6 d-grid">
                            <!-- TODO only close on successfull save (orginalGroup?onUpdate(editingGroup):onCreate(editingGroup)) -->
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                (click)="((originalGroup?onUpdate(editingGroup,addedUsers,deletedUsers):onCreate(editingGroup,addedUsers)) )">{{(originalGroup?"Update":"Add")}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>