<form class="p-3 col-12 row g-3">
    <div class="col-12">
        <label for="name">Name:</label>
        <input id="Name" class="form-control" name="name" value="{{event.name ?? ''}}" (change)="updateName($event)">
    </div>

    <div class="col-12">
        <label for="date">Date:</label>
        <input id="date" class="form-control" type="datetime-local" value="{{event.date?.slice(0,16) ?? ''}}"
            (change)="updateDate($event)">
    </div>

    <div class="col-12">
        <label for="group">Group:</label>
        <select id="group" class="form-select" name="group" type="number" value="{{event.groupId ?? ''}}"
            (change)="updateGroup($event)">
            <!-- TODO: make event not saveable if no group is selected -->
            <option value="" selected disabled hidden>Choose group</option>
            <option  *ngFor="let group of groups" value="{{group.id}}" [selected]="event.groupId === group.id">{{group.name}}</option>
        </select>
    </div>

    <div class="col-12">
        <label for="eventType">Event Type:</label>
        <select id="eventType" class="form-select" name="eventType" (change)="updateEventType($event)">
            <option value="HOMEWORK" [selected]="event.eventType === 'HOMEWORK'">Homework</option>
            <option value="EXAM" [selected]="event.eventType === 'EXAM'">Exam</option>
            <option value="" [selected]="event.eventType === null">Other</option>
        </select>
    </div>

    <div class="col-12">
        <label for="reminderAmount">Reminder Amount:</label>
        <div class="input-group">
            <input type="number" id="reminderAmount" class="form-control" name="reminderAmount"
                value="{{event.reminderAmount }}" (change)="updateReminderAmount($event)">
            <select id="reminderUnit" class="form-select" name="reminderUnit" value="{{event.reminderUnit }}"
                (change)="updateReminderUnit($event)">
                <option value="WEEK" [selected]="event.reminderUnit === 'WEEK'">Week</option>
                <option value="HOUR" [selected]="event.reminderUnit === 'HOUR'">Hour</option>
                <option value="DAY" [selected]="event.reminderUnit === 'DAY'">Day</option>
            </select>
        </div>
    </div>

    <div class="col-12">
        <label class="" for=" description">Description: </label>
        <textarea id="description" class="form-control" name="description"
            (change)="updateDescription($event)">{{event.description ?? ''}}</textarea>
    </div>
</form>

<!--   
    eventType: "HOMEWORK"|"EXAM"|null;
    name?: string;
    groupId?: number;
    creatorId?: number;
    description?: string;
    date?: string;
    reminderAmount: number;
    reminderUnit: "WEEK"|"HOUR"|"DAY";-->

<button *ngIf="event.id !== 0" type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
    data-bs-target="#edit-event-modal" (click)="onEventDelete(event)">Delete</button>