<form class="m-3 col-1 row">
    <label for="name">Name:
        <input id="Name" name="name" value="{{event.name ?? ''}}" (change)="updateName($event)">
    </label>

    <label for="date">Date:
        <input id="date" type="datetime-local" value="{{event.date?.slice(0,16) ?? ''}}" (change)="updateDate($event)">
    </label>

    <label for="group">Group:
        <!-- TODO: Change to select -->
        <input id="group" name="group" type="number" value="{{event.groupId ?? ''}}" (change)="updateGroup($event)">
    </label>

    <label for="eventType">
        Event Type:
        <select id="eventType" name="eventType" (change)="updateEventType($event)">
            <option value="HOMEWORK" [selected]="event.eventType === 'HOMEWORK'">Homework</option>
            <option value="EXAM" [selected]="event.eventType === 'EXAM'">Exam</option>
            <option value="" [selected]="event.eventType === null">Other</option>
        </select>
    </label>

    <label for="reminderAmount">
        Reminder Amount:
        <input id="reminderAmount" name="reminderAmount" value="{{event.reminderAmount }}" (change)="updateReminderAmount($event)">
    </label>

    <label for="reminderUnit">
        Reminder Unit:
        <select id="reminderUnit" name="reminderUnit" value="{{event.reminderUnit }}" (change)="updateReminderUnit($event)">
            <option value="WEEK" [selected]="event.reminderUnit === 'WEEK'">Week</option>
            <option value="HOUR" [selected]="event.reminderUnit === 'HOUR'">Hour</option>
            <option value="DAY" [selected]="event.reminderUnit === 'DAY'">Day</option>
        </select>
    </label>

    <label class="" for=" description">Description:
        <textarea id="description" name="description"
            (change)="updateDescription($event)">{{event.description ?? ''}}</textarea>
    </label>
</form>

<!--   
    eventType: "HOMEWORK"|"EXAM"|null;
    name?: string;
    groupId?: number;
    creatorId?: number;
    description?: string;
    date?: string;
    reminderAmount: number;
    reminderUnit: "WEEK"|"HOUR"|"DAY";-->

<button *ngIf="event" type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#edit-event-modal" (click)="onEventDelete(event)">Delete</button>