

<form class="m-3">
    <label for="name">Name:
        <input id="Name" name="name">
    </label>

    <label class="m-3" for="description">Description: 
        <input id="description" name="description">
    </label>

    <label for="group">Group: 
        <input id="group" name="group">
    </label>
    
    <label for="group">Date: 
        <input type="datetime-local" value="">
    </label>

</form>
  
<button type="button" class="btn btn-outline-dark">Add</button>
<button type="button" class="btn btn-outline-dark">Update</button>
<button type="button" class="btn btn-outline-dark">Delete</button>


