
<div class="row">
  <mat-toolbar color="primary">
    <div>
      <mat-toolbar-row>
        <button type="button" class="fs-2 mx-3" data-bs-toggle="collapse" data-bs-target="#header-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="no-link-deco" routerLink="/">
          <h1 class="fs-2">💩 S.H.I.T.</h1>
        </a>
      </mat-toolbar-row>
    </div>

    <div class="collapse" id="header-collapse">
      <mat-toolbar-row>
        <ng-container *ngFor="let item of menuItems | keyvalue">
          <div class="col-auto mx-5">
            <a class="no-link-deco fs-5" routerLink="/{{item.key}}">{{item.value}}</a>
          </div>
        </ng-container>
      </mat-toolbar-row>
    </div>
  </mat-toolbar>

</div>

<div class="m-3">
  <router-outlet></router-outlet>
</div>
