.fa {
  color: #FFF;
}

.content {
  height: inherit !important;  
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  height: 100vh;  
}s

.sidenav {
  height: inherit;
  padding: 20px;
}
