@use '@angular/material' as mat;

@include mat.core();

////////////////////
/* ONLY EDIT HERE */
////////////////////

$my-primary: mat.define-palette(mat.$grey-palette, 800);
$my-accent: mat.define-palette(mat.$indigo-palette, 900, 800);
$my-warn: mat.define-palette(mat.$red-palette);

$primary: #E0E0E0;
$secondary: #424242;
$border-color: $primary;
$card-border-color: $primary;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

$body-bg: #212121;
$body-color: #FFF;

$btn-close-color: $body-color;

$enable-shadows: true;

fa {
  color: inherit;
}

.no-link-deco {
  text-decoration: none !important;
  color: inherit;
}

.row {
  margin: 0;
}

.btn {
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

html, body {
  text-decoration-color: $body-color;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal-backdrop {
  display: none !important;
}

/////////////////////
/*  EDIT AREA END  */
/////////////////////

// Angular Material definition
$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
@include mat.all-component-themes($my-theme);

// Final Imports
@import "../node_modules/bootstrap/scss/bootstrap";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
